.background{
    background-color: lightblue;
    background-image: url("sky.jfif");
}

.bg {
    background: url("sky.jfif") no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -3;
  
  }