.Todo-item{
    margin: auto;
    margin-top: 3px;
    width: 30%;
    padding: 5px;
    border: 2px solid black;
  }

.Done-todo-item{
  margin: auto;
  margin-top: 3px;
  width: 30%;
  padding: 5px;
  border: 2px solid black;
  text-decoration:line-through;
}

.Delete-button{
  float: right;
}